<% flash.each do |key, msg| %>
  <% case key %>
  <% when "notice" %>
     <div class="fixed top-24 right-20 z-30 py-4 px-6 bg-teal-100 border-4 border-teal-400 text-teal-700 rounded-lg animate-slideInAndFadeOut">
      <p class="text-base font-bold text-dark-blue-200 !leading-none"><%= msg %></p>
    </div>
  <% else "alert" %>
     <div class="fixed top-24 right-20 z-30 py-4 px-6 bg-red-100 border-4 border-red-400 text-red-700 rounded-lg animate-slideInAndFadeOut">
      <p class="text-base font-bold text-dark-blue-200 !leading-none"><%= msg %></p>
    </div>
  <% end %>
<% end %>
