<footer class="fixed bottom-0 left-0 right-0 bg-[#171718]/90">
 <div class="text-gray-200 max-w-7xl mx-auto px-4 py-6">
    <ul class="flex text-sm space-x-8 justify-center">
      <li>ヘルプ</li>
      <li>プライバシー</li>
      <li>利用規約</li>
    </ul>
    <div class="flex justify-center">
      <span class="text-sm">2024 © Copyright - GearNet. </span>
    </div>
  </div>
</footer>
