<header class="flex items-center text-white h-20 border-b-2 border-gray-400">
  <nav class="container mx-auto">
    <div class="flex justify-between items-center">
      
      <div class="flex items-center">
        <a class="ml-3 text-white text-3xl font-sans font-bold">GearNet.</a>
      </div>

      <div class="flex items-center">
        <%# <button class="transition hover:opacity-40 text-base font-light">
          Log In
        </button>
        <button class="rounded-sm text-black bg-white transition hover:opacity-40 text-xs font-bold p-1 px-3 ml-12">
          Sign Up
        </button> %>
        <button class="flex items-center mr-16">
          <i class="fa-regular fa-envelope fa-lg"></i>
        </button>
        <button class="flex items-center mr-28">
          <i class="fa-regular fa-bell fa-lg"></i>
        </button> 
        <button class="flex items-center">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
      </div>
    </div>
  </nav>
</header>