<div class="ml-16"> 
  <div class="top-text text-white mt-32 pl-16">
    <div class="text-7xl font-semibold"> 
       <h1>楽器をシェアして</h1>    
    </div>
    <div class="pt-4 text-7xl font-semibold"> 
      <h1>みんなとつながろう!</h1>
    </div>
  </div>
</div>

<%# <div class="container mx-auto text-white mt-32 pl-16">
  <div class="text-6xl font-semibold font-bold mt-8 text-white drop-shadow-2xl">
    <h1 class="text-8xl">楽器をシェアして</h1>
  </div>
  
  <div class="text-6xl font-semibold font-bold mt-8 text-white drop-shadow-2xl">
    <h1 class="text-8xl">みんなとつながろう</h1>
  </div>
</div> %>