<div class="fixed ml-16"> 
  <div class="top-text text-white mt-44 pl-16 animate-fadeIn">
    <div class="text-7xl font-semibold">
       <h1>楽器をシェアして</h1>    
    </div>
    <div class="pt-4 text-7xl font-semibold fadeInSlow"> 
      <h1>みんなとつながろう!</h1>
    </div>
  </div>
</div>
