@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #171718; */
  background-image: url("haikei3.jpg");
  background-size: cover;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
}

.top-text {
  text-shadow: 4px 3px 5px black;
}


