@tailwind base;
@tailwind components;
@tailwind utilities;

body.logged-in {
  background-color: #171718;
}

body.logged-out {
  background-image: url("haikei3.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: calc(100vh - 100px);
  position: relative;
  background-position: center;
}

.top-text {
  text-shadow: 4px 3px 5px black;
}

.custom-scrollbar::-webkit-scrollbar{
  display: none;
}
